.navbar{
    &.background-itau{
        background-color: #EC7000;
    }

    a{
        font-weight: 700;
        font-size: 30px;
        border-bottom: 3px solid #FFFFFF;
        color: #FFFFFF;
    }
}

